<footer class="footer-container">
  <section class="page-container font-container footer-holder">
    <section class="footer-content">
      <section class="flex footer-contact">
        <section
          class="flex flex-col justify-between align-center footer-contact-item"
        >
          <h5 class="footer-contact-header">Call Us</h5>
          <div class="flex flex-col footer-contact-info">
            <a href="tel:+2348122136151"><h6>+2348122136151</h6></a>
            <a href="tel:+2348139035225"><h6>+2348139035225</h6></a>
          </div>
        </section>

        <section
          class="flex flex-col justify-between align-center footer-contact-item"
        >
          <h5 class="footer-contact-header">Send us an email</h5>
          <a
            href="mailto:timosoodo@yahoo.com"
            class="
              flex
              justify-center
              flex-wrap
              align-center
              footer-contact-info
            "
          >
            <i data-feather="mail"></i>
            <h6>timosoodo@yahoo.com</h6>
          </a>
        </section>
      </section>

      <!-- Footer Navigation -->
      <ul class="flex flex-col footer-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#blog">Blog</a></li>
      </ul>
    </section>

    <h6>Copyright &copy; 2021</h6>
  </section>
</footer>
