<section class="top-bar">
  <nav class="flex justify-between align-center page-container nav-container">
    <a class="logo"
      ><img src={{ '/assets/images/logoimg.jpeg' | relative_url}} alt=""></a
    >
    <div class="nav-holder">
      <div class="menu-btn" onclick="toggleNav()">
        <i data-feather="menu"></i>
      </div>
      <ul class="flex navigation">
        <li class="nav-item"><a href={{"#home" | relative_url}} class="nav-link">Home</a></li>
        <li class="nav-item">
          <a href={{"#services" | relative_url}} class="nav-link">Services</a>
        </li>
        <li class="nav-item"><a href={{"#about" | relative_url}} class="nav-link">About Us</a></li>
        <li class="nav-item">
          <a href={{"#contact" | relative_url}} class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href={{"/blog" | relative_url}} class="nav-link">Blog</a>
        </li>
      </ul>
    </div>
    <a href="#contact" class="cta-btn">Order Now</a>
  </nav>
</section>
