<section class="top-bar">
  <nav class="flex justify-between align-center page-container nav-container">
    <a class="logo">T.J Anthony Ventures</a>
    <div class="nav-holder">
      <div class="menu-btn" onclick="toggleNav()">
        <i data-feather="menu"></i>
      </div>
      <ul class="flex navigation">
        <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Services</a>
        </li>
        <li class="nav-item"><a href="#about" class="nav-link">About Us</a></li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </div>
    <a href="#contact" class="cta-btn">Order Now</a>
  </nav>
</section>
