<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href={{"/assets/css/global.css" | relative_url}} />
    <link rel="stylesheet" href={{"/assets/css/main.css" | relative_url}} />
    <link rel="stylesheet" href={{"/assets/css/blog.css" | relative_url}} />
    <link rel="stylesheet" href={{"/assets/css/posts.css" | relative_url}} />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    {% assign cssFile = page.css_file %}
    {% capture cssLink %}
    /assets/css/{{cssFile}} | relative_url 
    {% endcapture %}
    <link rel="stylesheet" href={{cssLink}} />
  </head>
  <body>
    <div class="page">
      {%include navbar.html %}
      <section class="content">{{content}}</section>
      {%include footer.html %}
    </div>


    <script src={{"/assets/js/feather.min.js" | relative_url}}></script>
    <script src={{"/assets/js/main.js" | relative_url}}></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
